.footer {
  background-color: #030a1a;
}

.footer__wrapper {
  display: grid;
  gap: 30px;

  @media (width < $tablet) {
    padding: 40px 15px;
  }

  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-block: 45px;
  }

  @media (min-width: $desktop) {
    padding-block: 40px;
  }
}

.footer__logo {
  @media (min-width: $tablet) {
    width: 110px;
    height: 22px;
  }

  @media (min-width: $desktop) {
    width: 130px;
    height: 26px;
  }
}

.footer__nav-list {
  display: flex;
  gap: 20px 35px;
  flex-wrap: wrap;

  @media (min-width: $tablet) {
    max-width: 420px;
    gap: 20px 30px;
  }

  @media (min-width: $desktop) {
    width: 600px;
    max-width: 600px;
    gap: 35px;
    justify-content: space-between;
  }
}

.footer__nav-list a {
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;

  &:focus-visible {
    outline: 1px solid #ffffff;
    outline-offset: 8px;
  }

  &:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-underline-position: under;
  }

  &:active {
    text-decoration: none;
  }

  @media (min-width: $tablet) {
    font-size: 14px;
    line-height: 22px;
  }
}

.footer__social-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  @media (min-width: $tablet) {
    max-width: 150px;
    gap: 15px;
  }

  @media (min-width: $desktop) {
    gap: 10px;
  }
}

.footer__social-link {
  position: relative;
  width: 25px;
  height: 25px;
  background-color: #ffffff;
  border-radius: 50%;

  &:focus-visible {
    background-color: $accent;
    outline: none;
  }

  &:hover {
    background-color: #c7cad2;
  }

  &:active {
    background-color: $main-color;
  }

  &:hover::before,
  &:focus-visible::before,
  &:active::before {
    background-color: #ffffff;
  }

  &::before {
    @include pseudoblock;

    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #030a1a;
  }
}

.footer__social-link--vk::before {
  mask-image: url("/__spritemap#sprite-vk-view");
}

.footer__social-link--ok::before {
  mask-image: url("/__spritemap#sprite-ok-view");
}

.footer__social-link--reddit::before {
  mask-image: url("/__spritemap#sprite-reddit-view");
}
